@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Open+Sans&display=swap');

:root {
  --background-color: #222;
  --kanaliiga-color: #f49703;
  --discord-blurple: #5865f2;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-family: 'Big Shoulders Display', sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

body,
html {
  background-color: var(--background-color);
  font-size: 14px;
}

body {
  overflow-y: scroll;
}

input[type='date'],
input[type='text'],
input[type='number'],
textarea,
select {
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
  border-radius: 4px;
  padding: 8px 12px;
  resize: none;
  background: #fff;
}
