.role-editor {
  color: #fff;
  background-color: #333;
  border-bottom: 4px solid #555;
  margin-bottom: 36px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.role-editor h3 {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  background-color: #f49703;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', sans-serif;
  padding: 12px;
}

.roles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 24px;
  justify-content: space-evenly;
}

.role {
  position: relative;
  background-color: #555;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  width: 400px;
  padding: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.error-text {
  display: none;
  color: red;
}

.error .error-text {
  display: initial;
}

.field {
  display: flex;
  flex-direction: column;
}

.targets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-right: -6px;
  margin-left: -6px;
}

.target {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 6px;
}

.target select {
  width: 100%;
}

.target-values {
  display: flex;
  flex-direction: row;
}

.target-values .field {
  width: 50%;
}

.boundaries {
  width: 100%;
  height: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.underperform {
  height: 100%;
  background-color: red;
}
.expected {
  height: 100%;
  background-color: orange;
}
.overperform {
  height: 100%;
  background-color: green;
}

.delete-role-button {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: red;
  top: 4px;
  right: 10px;
  cursor: pointer;
}
