.division-selector {
  width: 100%;
}

.divisions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.divisions button {
  color: #fff;
  border-bottom: 4px solid #555;
  padding: 12px;
  margin: 0 12px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.divisions button.selected {
  border-bottom: 4px solid #f49703;
}
