.panel {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--tertiary);
  box-shadow: var(--box-shadow);
  margin-bottom: 24px;
  position: relative;
  background: #ffffff;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 32px;
  background-color: var(--secondary);
  color: var(--on-secondary);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 12px;
}

.body {
  padding: 24px;
}
