.header {
  background-color: #333;
  border-bottom: 4px solid #555;
  width: 100%;
  padding: 12px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  background-image: url(/assets/kanaliiga-logo-64px.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 48px;
  width: 48px;
}

.header nav {
  flex-grow: 1;
}

.header nav button {
  margin-left: 24px;
  color: #fff;
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.header button:hover {
  text-decoration: underline;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user img {
  height: 48px;
  width: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.logout {
  background-color: #f49703;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
}
