.header {
  width: 100%;
  height: 80px;
  color: #fff;
  background-color: #333;
  border-bottom: 4px solid #555;
  display: flex;
  flex-direction: row;
  padding: 10px 100px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 9001;
}

.logo {
  background-image: url(/assets/kanaliiga-logo-64px.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
