.wrapper {
  position: relative;
}

.teams {
  padding: 24px;
  width: 300px;
  background-color: #333;
  border-bottom: 4px solid #555;
  margin-bottom: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 24px;
}

.buy {
  color: #fff;
  background-color: #48b803;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;

  text-align: center;
  padding: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 32px;
  letter-spacing: 0.05em;
  transition: 0.1s ease-out all;
}

.buy:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.budget {
  text-align: center;
  padding: 12px;
  font-weight: bold;
  font-family: 'Big Shoulders Display', sans-serif;
  color: #48b803;
  font-size: 32px;
  letter-spacing: 0.05em;
}

.over-budget {
  color: #d60505;
}

.slot {
  background-color: #555;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.top-half {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.avatar {
  height: 48px;
  width: 48px;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-right: 8px;
}

.remove {
  background-color: #d60505;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  text-align: center;
}

.price {
  padding: 4px 12px;
  font-weight: bold;
  font-family: 'Big Shoulders Display', sans-serif;
  background-color: #2b6e01;
  letter-spacing: 0.05em;
  width: 100%;
}

.empty {
  color: #aaa;
  text-align: center;
  padding: 12px;
}

.details {
  width: 100%;
}
