.wrapper {
  position: relative;
}

.teams {
  padding: 24px;
  width: 300px;
  background-color: var(--secondary);
  border: 1px solid var(--tertiary);
  box-shadow: var(--box-shadow);
  margin-bottom: 24px;
  position: sticky;
  top: 24px;
}

.buy {
  color: #fff;
  background-color: #48b803;
  box-shadow: var(--box-shadow);
  width: 100%;

  text-align: center;
  padding: 12px;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 0.05em;
  transition: 0.1s ease-out all;
}

.buy:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: var(--box-shadow);
}

.budget {
  text-align: center;
  padding: 12px;
  color: #48b803;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.over-budget {
  color: #d60505;
}

.slot {
  background-color: var(--tertiary);
  color: var(--on-tertiary);
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
}

.empty {
  color: var(--secondary);
  text-align: center;
  padding: 12px;
  text-transform: uppercase;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.top-half {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.avatar {
  height: 48px;
  width: 48px;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-right: 8px;
}

.remove {
  background-color: #d60505;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  text-align: center;
}

.price {
  padding: 4px 12px;
  background-color: #2b6e01;
  color: #ffffff;
  letter-spacing: 0.05em;
  font-weight: 400;
  width: 100%;
}

.details {
  width: 100%;
}
