.teams {
  flex-grow: 1;
  color: #fff;
  padding-left: 24px;
}

.team {
  display: flex;
  flex-direction: column;
  background-color: #333;
  border-bottom: 4px solid #555;
  margin-bottom: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
}

.limit {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.limit span {
  background-color: #f49703;
  font-size: 24px;
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  padding: 8px 12px;
}

.player-limit-reached .limit {
  display: flex;
}

.team-name {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  background-color: #f49703;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', sans-serif;
  padding: 12px;
}

.player-limit-reached .players {
  opacity: 0.2;
  pointer-events: none;
}

.players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 24px;
  justify-content: space-evenly;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 130px;
  margin: 12px;
  background-color: #555;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  transition: 0.1s ease-out all;
}

.selected {
  opacity: 0.5;
  filter: grayscale(50%);
  pointer-events: none;
}

.too-expensive {
  opacity: 0.5;
  filter: grayscale(50%);
  pointer-events: none;
}

.too-expensive .price {
  background-color: #b80303;
}

.player:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.details {
  padding: 12px;
}

.avatar {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.price {
  background-color: #2b6e01;
  padding: 8px 12px;
  font-weight: bold;
  font-family: 'Big Shoulders Display', sans-serif;
  letter-spacing: 0.05em;
}
