.season-editor {
  color: #fff;
  background-color: #333;
  border-bottom: 4px solid #555;
  margin-bottom: 36px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 24px;
}

.season-editor h2 {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  background-color: #f49703;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', sans-serif;
  padding: 12px;
}

.seasons {
  padding: 12px;
}
