.authentication {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  padding: 12px;
}

.discord-login {
  color: #fff;
  background-color: var(--discord-blurple);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.discord-login .logo {
  background-image: url('/assets/discord-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-left: 20px;
}
