.app {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding-top: 100px;
}

.footer {
  height: 140px;
  background-color: #333;
  border-top: 4px solid #f49703;
}
